In [1]:
import numpy as np
import pandas as pd

In [135]:
def conditionalProbability(inputData, eventA, eventB, eventBColumn):
    probabilityOfA = probability(inputData, 'Activity', eventA)
    probabilityOfB = probability(inputData, eventBColumn, eventB)
    probabilityOfBA = knownConditionalProbability(inputData, eventB, eventA, eventBColumn)
    conditionalProbability = (probabilityOfBA * probabilityOfA) / probabilityOfB
    
    ## implement laplace Smoothing to handle missing known conditional probability
    ## temporary fix
    if (conditionalProbability == 0):
        conditionalProbability = 0.001
    return conditionalProbability

In [136]:
def knownConditionalProbability(inputData, eventA, eventB, eventAColumn):
    numberOfRows = inputData.shape[0]
    count = 0
    
    for i in range(numberOfRows):
        if (inputData[eventAColumn][i+1] == eventA and inputData['Activity'][i+1] == eventB):
            count += 1

    return (count / numberOfRows)

In [137]:
def probability(inputData, targetColumn, event):
    numberOfRows = inputData.shape[0]
    count = 0
    
    for i in range(numberOfRows):
        if inputData[targetColumn][i+1] == event:
            count += 1
    
    return (count / numberOfRows)

In [138]:
inputData = [['Urgent', 'No', 'Yes', 'Sunny', 'Yes', 'Party'], 
             ['Urgent', 'Near','No', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'], 
             ['No', 'Urgent', 'Yes', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'],
             ['Urgent', 'Yes','Yes', 'Sunny', 'Yes', 'Party'], 
             ['Near', 'Near','Yes', 'Sunny', 'Yes', 'Party'],
             ['Near', 'Urgent','No', 'Sunny', 'No', 'Study'],
             ['Urgent', 'No', 'Yes', 'Sunny', 'Yes', 'Party'], 
             ['Urgent', 'Near','No', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'],
             ['No', 'Urgent', 'Yes', 'Rainy', 'Yes', 'Party' ],
             ['No', 'No', 'Yes', 'Sunny', 'No', 'Party'],
             ['Urgent', 'No','Yes', 'Sunny', 'Yes', 'Study'], 
             ['Near', 'Near','Yes', 'Rainy', 'Yes', 'Party'],
             ['Near', 'Urgent','No', 'Rainy', 'No', 'Study'],
             ['Near', 'No','Yes', 'Sunny', 'No', 'Study'],
             ['Urgent', 'No', 'Yes', 'Sunny', 'Yes', 'Party'], 
             ['Urgent', 'Near','No', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'],
             ['No', 'Urgent', 'Yes', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'],
             ['Urgent', 'Yes','Yes', 'Sunny', 'Yes', 'Party'], 
             ['Near', 'Near','Yes', 'Sunny', 'Yes', 'Party'],
             ['Near', 'No','No', 'Sunny', 'Yes', 'Sports'],
             ['Urgent', 'No', 'Yes', 'Sunny', 'Yes', 'Study'], 
             ['Urgent', 'Near','No', 'Rainy', 'No', 'Study' ],
             ['Near', 'No', 'No', 'Sunny', 'Yes', 'Sports'],
             ['No', 'Urgent', 'Yes', 'Rainy', 'Yes', 'Party' ],
             ['No', 'No', 'Yes', 'Sunny', 'No', 'Sports'],
             ['Urgent', 'No','Yes', 'Sunny', 'Yes', 'Study'], 
             ['No', 'Near','No', 'Sunny', 'Yes', 'Sports'],
             ['No', 'No','No', 'Rainy', 'Yes', 'Sports'],
             ['Urgent', 'Urgent','Yes', 'Sunny', 'No', 'Study'],
            ]
inputDataTable = pd.DataFrame(inputData, columns=['Homework Status', 'Exam Status', 'Party Status', 'Weather', 'Friends Availability','Activity'])
inputDataTable.index += 1
inputDataTable.head()

,Homework Status,Exam Status,Party Status,Weather,Friends Availability,Activity
1,Urgent,No,Yes,Sunny,Yes,Party
2,Urgent,Near,No,Rainy,No,Study
3,Near,No,No,Sunny,Yes,Sports
4,No,Urgent,Yes,Rainy,No,Study
5,Near,No,No,Sunny,Yes,Sports

In [139]:
NUMBER_OF_FEATURES = inputDataTable.shape[1] - 1
NUMBER_OF_INPUTS = inputDataTable.shape[0]
NUMBER_OF_OUTCOMES = inputDataTable['Activity'].nunique()

In [ ]:
userInput = np.chararray((1, NUMBER_OF_FEATURES), itemsize = 20, unicode = True)
i = 0;
userInput
for i in range (NUMBER_OF_FEATURES):
    userInput[0][i] = input("What is the %s? " %inputDataTable.columns[i])

print(userInput)

In [141]:
#Urgent = 2
#Sunny = 1
#Near = 1
#Yes = 1
#Cloudy = 0
#No = 0

#Months 1-12 accordingly

#Activity
    #Party = 2
    #Study = 1
    #Sports = 0

encodedInputData = inputDataTable.replace({'Urgent':2, 'Party':2, 'Study':1, 
                        'Near':1, 'Sunny':1, 'Yes':1, 
                        'No':0, 'Rainy':0, 'Sports':0})


encodedInputData.head()

,Homework Status,Exam Status,Party Status,Weather,Friends Availability,Activity
1,2,0,1,1,1,2
2,2,1,0,0,0,1
3,1,0,0,1,1,0
4,0,2,1,0,0,1
5,1,0,0,1,1,0

In [142]:
userInputTable = pd.DataFrame(userInput, columns = ['Homework Status', 'Exam Status', 'Party Status', 'Weather', 'Friends Availability'])
encodedUserInput = userInputTable.replace({'Urgent':2, 'Party':2, 'Study':1, 
                        'Near':1, 'Sunny':1, 'Yes':1, 
                        'No':0, 'Rainy':0, 'Sports':0})

encodedUserInput

   Homework Status  Exam Status  Party Status  Weather  Friends Availability
0                0            0             0        1                     1

In [146]:
activityPossibility = np.zeros(NUMBER_OF_OUTCOMES)

for i in range (NUMBER_OF_OUTCOMES):
    totalProbability = probability(encodedInputData, 'Activity', i)
    for j in range (NUMBER_OF_FEATURES):
        currentFeatureColumn = encodedUserInput.columns[j]
        totalProbability *= conditionalProbability(encodedInputData, i, encodedUserInput[currentFeatureColumn][0], currentFeatureColumn)
    activityPossibility[i] = totalProbability

normalizedOutput = (activityPossibility / activityPossibility.sum()) * 100

In [158]:
print("The probability distribution for given input:")
for i in range(NUMBER_OF_FEATURES):
    print("%s is %s" % (userInputTable.columns[i], userInputTable[userInputTable.columns[i]][0]))

print("\nSports: %.2f%%" % normalizedOutput[0])
print("Study : %.2f%%" % normalizedOutput[1])
print("Party : %.2f%%" % normalizedOutput[2])

The probability distribution for given input:
Homework Status is No
Exam Status is No
Party Status is No
Weather is Sunny
Friends Availability is Yes

Sports: 82.24%
Study : 17.43%
Party : 0.33%